<h3>Study</h3>
@ViewData["ErrorMessage"]
<div>
    @ViewData["ResponseMessage"]
</div>

<h3>Work Item</h3>
<div>
    @ViewData["WorkItem"]
</div>

<h3>Pull Request</h3>
<div>
    @ViewData["PullRequest"]
</div>
