@{
    ViewData["Title"] = "Data";
}
<div>
    <iframe width="900" height="600" frameborder="0" scrolling="no" src="https://microsoftapc-my.sharepoint.com/personal/v-xiaqian_microsoft_com/_layouts/15/Doc.aspx?sourcedoc={c0499a8b-348a-4a60-b98d-129e543eea42}&action=embedview&AllowTyping=True&Item=BugListTable&wdDownloadButton=True&wdInConfigurator=True"></iframe>
</div>