@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">

        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
        <fieldset>           
            @Html.Label("StartDate", "Start Date:")
            <input class="startdate" id="startdate" name="startdate" type="date" value="">
            @Html.Label("enddate", "End Date:")
            <input class="startdate" id="enddate" name="enddate" type="date" value="">
            <input type="submit" value="Apply" />
        </fieldset>
        }

    </div>

</div>

<h2>Overview - Total: @ViewData["TotalBugs"]</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Category</h3>
        <canvas id="categoryChart"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Description</h3>
        <div>
            <ul>
                <li>Category: How many bugs completed by category.</li>
                <li>Productivity: How many bugs completed per week.</li>
                <li>Quality: How many bugs completed but rejected per week.</li>
                <li>Efficency: Average hours per bug per week.</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Productivity</h3>
        <h6>Completed bugs</h6>
        <canvas id="productivityChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>Quality</h3>
        <h6>Rejected number</h6>
        <canvas id="qualityChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>Efficiency</h3>
        <h6>Hours per bug</h6>
        <canvas id="efficencyChart"></canvas>
    </div>
</div>

@section Scripts {
    <script>
    // Overview

    function createOverviewChart() {
        var ctx = document.getElementById('categoryChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [@ViewData["CategoryValues"]],
                    backgroundColor: [
                        'red',
                        'blue',
                        'green',
                        'black',
                        'grey',
                        'orange',
                        'purple'
                    ],
                    //borderColor: 'green'
                }],

                labels: [@Html.Raw(ViewData["CategoryLabels"])]
            },
            options: {
                legend: {
                    position: 'right'
                },
                plugins: {
                    labels: {
                        render: 'value',
                        fontSize: 20,
                        fontColor: 'white'
                    }
                }
            }
        });
    }

    function createProductivityChart() {
        var ctx = document.getElementById('productivityChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: [@Html.Raw(ViewData["ProductivityLabels"])],
                datasets: [{
                    label: 'Productivity dataset',
                    backgroundColor: null,
                    borderColor: 'green',
                    data: [@ViewData["ProductivityValues"]]
                }]
            },

            options: {
            legend: {
                display: false,
                }
        }
        });
    }

    function createEfficiencyChart() {
        var ctx = document.getElementById('efficencyChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: [@Html.Raw(ViewData["EfficiencyLabels"])],
                datasets: [{
                    label: 'Efficiency dataset',
                    backgroundColor: null,
                    borderColor: 'blue',
                    data: [@ViewData["EfficiencyValues"]]
                }]
            },

            options: {
            legend: {
                display: false,
                }
            }
        });
    }

    function createQualityChart() {
        var ctx = document.getElementById('qualityChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: [@Html.Raw(ViewData["QualityLabels"])],
                datasets: [{
                    label: 'Quality dataset',
                    backgroundColor: 'red',
                    borderColor: 'rgb(100, 99, 132)',
                    fill: false,
                    data: [@ViewData["QualityValues"]]
                }]
            },

            options: {
                legend: {
                    display: false,
                }
            }
        });
    }

    createOverviewChart();
    createProductivityChart();
    createEfficiencyChart();
    createQualityChart();

    </script>
}