@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">

        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <fieldset>
                @Html.Label("StartDate", "Start Date:")
                <input class="startdate" id="startdate" name="startdate" type="date" value="">
                @Html.Label("enddate", "End Date:")
                <input class="startdate" id="enddate" name="enddate" type="date" value="">
                <input type="submit" value="Apply" />
                @*<input type="submit" value="By Week" />
                    <input type="submit" value="By Month" />
                    <input type="submit" value="By Year" />*@
            </fieldset>
        }

    </div>

</div>

<h2>Overview - Total: @ViewData["TotalBugs"]</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Category</h3>
        <canvas id="categoryChart"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Description</h3>
        <div>
            <ul>
                <li>Category: How many bugs completed by category.</li>
                <li>Productivity: How many bugs completed.</li>
                <li>Quality: How many avg PR iterations per PR.</li>
                <li>Efficency: Average hours per bug.</li>
            </ul>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Productivity</h3>
        <h6>Completed bugs</h6>
        <canvas id="productivityChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>Quality</h3>
        <h6>Avg. PR iterations per PR</h6>
        <canvas id="qualityChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>Efficiency</h3>
        <h6>Avg Hours per bug</h6>
        <canvas id="efficencyChart"></canvas>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Bug Comments</h3>
        <h6>Avg. bug comments per bug</h6>
        <canvas id="bugCommentsChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>PR Comments</h3>
        <h6>Avg. PR comments per PR</h6>
        <canvas id="prCommentsChart"></canvas>
    </div>
    <div class="col-md-4">
        <h3>PR Engagement [NOT READY]</h3>
        <h6>Avg. PR response hours</h6>
        <canvas id="prEngagementChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tags Chart</h3>
        <h6>Counting tags (>= 20)</h6>
        <canvas id="tagChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Severity Chart</h3>
        <h6>Bug severity</h6>
        <canvas id="severityChart"></canvas>
    </div>

    <div class="col-md-6">
        <h3>Priority Chart</h3>
        <h6>Bug Priority</h6>
        <canvas id="priorityChart"></canvas>
    </div>
</div>


@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
    <script>
        var ctx = document.getElementById('categoryChart').getContext('2d');
        createOverviewChart(ctx, [@Html.Raw(ViewData["CategoryLabels"])], [@ViewData["CategoryValues"]]);

        ctx = document.getElementById('productivityChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["ProductivityLabels"])], [@ViewData["ProductivityValues"]], 'Productivity');

        ctx = document.getElementById('qualityChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["QualityLabels"])], [@ViewData["QualityValues"]], 'Quality');

        ctx = document.getElementById('efficencyChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["EfficiencyLabels"])], [@ViewData["EfficiencyValues"]], 'Efficiency');

        ctx = document.getElementById('bugCommentsChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["bugCommentsLabels"])], [@ViewData["bugCommentsValues"]], 'Bug Comments');

        ctx = document.getElementById('prCommentsChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["prCommentsLabels"])], [@ViewData["prCommentsValues"]], 'PR Comments');

        ctx = document.getElementById('prEngagementChart').getContext('2d');
        createLineChart(ctx, [@Html.Raw(ViewData["prEngagementLabels"])], [@ViewData["prEngagementValues"]], 'PR Engagement');

        ctx = document.getElementById('tagChart').getContext('2d');
        createHorizontalBarChart(ctx, [@Html.Raw(ViewData["TagLabels"])], [@ViewData["TagValues"]], 'Tag');

        ctx = document.getElementById('severityChart').getContext('2d');
        createHorizontalBarChart(ctx, [@Html.Raw(ViewData["SeverityLabels"]), "Dummy"], [@ViewData["SeverityValues"], "1"], 'Severity');

        ctx = document.getElementById('priorityChart').getContext('2d');
        createHorizontalBarChart(ctx, [@Html.Raw(ViewData["PriorityLabels"])], [@ViewData["PriorityValues"]], 'Priority');

    </script>
}