@{
    ViewData["Title"] = "Wiki";
}
<h1>Bugs Documentation</h1>
<div>Connected with Azure DevOps Wiki and Discussions</div>
<hr />
<h2>Frequently Happend Bugs and How to Fix</h2>

<h3>Announcement Bugs</h3>
<div>
    <h4>Description</h4>
</div>
<div>
    <h4>How to Fix</h4>
</div>

<h3>Contrast Ratio Bugs</h3>
<div>
    <h4>Description</h4>
</div>
<div>
    <h4>How to Fix</h4>
</div>

<h3>Zoom to 400% Bugs</h3>
<div>
    <h4>Description</h4>
</div>
<div>
    <h4>How to Fix</h4>
</div>

<h3>Scroll Bar Bugs</h3>
<div>
    <h4>Description</h4>
</div>
<div>
    <h4>How to Fix</h4>
</div>

