@model PMS.Models.Bug

@{
    ViewData["Title"] = "Create";  
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NO" class="control-label"></label>
                <input asp-for="NO" class="form-control" />
                <span asp-validation-for="NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>                
                <select name="Status" asp-items="@ViewBag.StatusList" class="form-control">
                    <option value="0">Please select</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <select name="Developer" asp-items="@ViewBag.DevList" class="form-control">
                    <option value="0">Please select</option>
                </select>
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="StartedDate" class="control-label"></label>
                <input asp-for="StartedDate" class="form-control" />
                <span asp-validation-for="StartedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedDate" class="control-label"></label>
                <input asp-for="FixedDate" class="form-control" />
                <span asp-validation-for="FixedDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="EstimatedHours" class="control-label"></label>
                <input asp-for="EstimatedHours" class="form-control" />
                <span asp-validation-for="EstimatedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualHours" class="control-label"></label>
                <input asp-for="ActualHours" class="form-control" />
                <span asp-validation-for="ActualHours" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
